{% extends 'base.html' %}

{% block content %}
<h1> {{ category }} </h1>

{% for product in category.products.all %}

	<li>
		

		<a href="{{ product.get_absolute_url }}"> {{ product }}</a>
		
	</li>

{% endfor %}

<hr />
{% if related %}
<h3> Related Categories </h3>

{% for related_cat in related %}



<a href="{% url 'category' related_cat.slug %}">{{ related_cat }}</a>

{% endfor %}
{% endif %}

{% endblock %}