{% extends 'base.html' %}

{% block content %}

<h1>{{ instance.title }}</h1>

<form method='POST' action=''>{% csrf_token %}

	{{ form.as_p }}

	<input type='submit' value='Save' />

</form>

{% endblock %}