{% extends 'base.html' %}

{% block content %}

<h1>Edit {{ product.title }}</h1>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}

	{{ formset.management_form }}
	<table>
		<thead>
			<th>Image</th><th>Upload New</th><th>Feature Image?</th><th>Delete</th>
		</thead>

	{% for form in formset %}

		<tr><td>{{ form.instance.title }} <br /><img src="{{ MEDIA_URL }}{{ form.instance.image }}" width='200' /></td>{% for field in form %}
			<td>{{ field }}</td><br />

		{% endfor %}
		
		
	
</tr>


	{% endfor %}
	<tfoot><td><input type='submit' value='Save' /></td></tfoot>
	</table>



</form>

{% endblock %}