{% extends 'base.html' %}
{% load filename %}

{% block content %}



<h3>You searched for {{ query }}</h3>

<h1> Products </h1>
<ol>
{% for product in products %}
{% if product|classname == "Product" %}
	
	<li>
		

		<a href="{{ product.get_absolute_url }}"> {{ product }}</a>
		
	</li>

		{% endif %}
{% endfor %}
</ol>


<h1> Categories </h1>
{% for product in products %}
<ul>
{% if product|classname == "Category" %}
	
	<li>
		

		<a href="{{ product.get_absolute_url }}"> {{ product }}</a>
		
		
	</li>
	{% endif %}
</ul>
{% endfor %}



</ol>

{% endblock %}