{% extends 'base.html' %}
{% load filename %}

{% block content %}
<div class="row">
<div class='col-sm-8 pull-left'>
<h1>{{ product }}</h1>

{% for image in images %}

	<img src="{{ MEDIA_URL }}{{ image.image }}" width="500" />

{% endfor %}

{% if related_products %}

<h2>Related Product{% if related|length > 1 %}s{% endif %}</h2>

<ul>

{% for product in related_products %}

	<li>
		

		<a href="{{ product.get_absolute_url }}"> {{ product }}</a>
		
	</li>

{% endfor %}

</ul>

{% endif %}

</div>

<!-- start of right sidebar -->

<div class='col-sm-4 pull-right'>

	<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">Product: {{ product }}</h3>
		</div>
		<div class="panel-body">
		{{ product.description }} <br />
		${{ product.get_price }} <br />
		<br />

		{% if in_cart %}

In Cart <a class='btn btn-success' href="{% url 'cart' %}">View Cart</a>

{% else %}
<a class='btn btn-warning' href="{% url 'update_cart' product.id %}">Add to Cart </a>

{% endif %}
		</div>
	</div>

{% if categories %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Categor{% if categories|length == 1 %}y{% else %}ies{% endif %}</h1>
	</div>
	<div class="panel-body">

		<ul>

			{% for product in categories %}

				<li>
		

					<a href="{{ product.get_absolute_url }}"> {{ product }}</a>
		
				</li>

			{% endfor %}

		</ul>
	</div>
</div>
{% endif %}


{% if edit_allowed or downloadable %}


	<div class="panel panel-default">
		<div class="panel-heading">
		<h3 class="panel-title">My Actions</h3>
		</div>
		<div class="panel-body">
			<div class="btn-group-vertical">
				{% if product.download and downloadable %}


					<a class="btn btn-default" href="download/{{ product.download|filename }}"> Download </a>

				{% endif %}
				{% if edit_allowed %}

					<a class="btn btn-default" href="/products/{{ product.slug }}/edit/">Edit {{ product }} </a>
				    <a class="btn btn-default" href="{% url 'manage_product_image' product.slug %}">Manage Images</a>
				{% endif %}

			</div>



		</div>
	</div>

{% endif %}


</div>
</div>

{% endblock %}