{% extends 'base.html' %}

{% block content %}

<h1> Cart </h1>

{% if cart %}

<table>
	<thead>
		<th> Item </th>
		<th></th>
		<th> Price </th>
	</thead>
	{% for item in cart.cartitem_set.all %}
	<tr>
		<td>
			{{ item.product.title }}
		</td>
		<td>
		</td>
		<td>
			{{ item.product.get_price }}
		</td>
		<td>
			<a href="{% url 'update_cart' item.product.id %}">&nbsp;<span class="glyphicon glyphicon-trash"></span></a>
		</td>
	</tr>
	{% endfor %}
	<tr> 
		<td></td>
		<td> Total </td>
		<td> {{ cart.total }} </td>
	</tr>
</table>

{% else %}

<h2> You cart is empty </h2>

{% endif %}

{% endblock %}